@model IEnumerable<DanzFloor.Web.Models.Dominio.Cliente>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card z-depth-4">
    <div class="card-header">
        <h2>
            Clientes Registrados
        </h2>
    </div>


    <div class="table-responsive">
        <table id="data-table-basic-cliente" class="table table-striped">
            <thead>
                <tr>
                    <th data-column-id="Id" data-visible="false" data-searchable="false" class="hidden">Id</th>
                    <th data-column-id="name">@Html.DisplayNameFor(model => model.Nombre)</th>
                    <th data-column-id="Estado">Estado</th>
                    <th data-column-id="RazonSocial">Razón Social</th>
                    <th data-column-id="commands" data-formatter="commands" data-sortable="false">
                        Comandos
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var cliente in Model)
                {
                    <tr>
                        <td class="hidden">@cliente.Id</td>
                        <td>@cliente.Nombre</td>
                        <td>@cliente.Estado</td>
                        <td>@cliente.RazonSocial</td>
                        <td>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts {
    @if (Request.Params["Message"] == "UpdateUserSuccess")
    {
        <script>
            swal("Buen trabajo!", "El Usuario ha sido actualizado", "success");
        </script>
    }
    @if (Request.Params["Message"] == "UpdateUserError")
    {
        <script>
            swal("No se realizo la modificación!", "El Usuario no ha sido actualizado", "error");
        </script>
    }
    @if (Request.Params["Message"] == "DeleteUserSuccess")
    {
        <script>
            swal("Se elimino un perfil", "", "warning");
        </script>
    }

}

<script src="~/Scripts/BootgridCliente.js"></script>