@model DanzFloor.Web.Models.Dominio.Pedido

@{
    Layout = null;
}

<tr>
    <td><i class="pe-7s-shopbag hidden-sm"></i><span class="fecha-pedido">@Model.FechaProgramada.ToString("dd/MM/yyyy")</span></td>
    <td class="hidden-sm"><span class="label label-default font10">@Model.Instancia.ToString()</span></td>
    <td>@Model.PuntoEntrega.Nombre</td>
    <td>
        <div class="truncate-td">
            @foreach (var subitem in Model.Articulos)
            {
                <div class="detail-item truncate">
                    <span class="cantidad-cajas">@subitem.Cantidad cajas</span>
                    <span class="subitem">@subitem.Articulo.Producto.Nombre</span>
                </div>
            }
        </div>
    </td>
    <td>$@Model.MontoTotal.VistaPrecio()</td>
    <td>
        @if (Model.Instancia == DanzFloor.Web.Models.Enum.InstanciaPedido.Facturado)
        {
            <a abrir-repetir-pedido="@Model.Id" class="btn btn-primary btn-sm">Repetir</a>
        }
        <a href="/Frontend/DetallePedido/@Model.Id" class="btn btn-primary btn-sm btn-outlined">Ver</a>
    </td>
</tr>

@if (ViewBag.MaxPaginas < ViewBag.Pagina)
{
    <script type="text/javascript">
        $('[boton-ver-mas]').hide();
    </script>
}