@using DanzFloor.Web.Models

@model DanzFloor.Web.Models.ViewModels.FavoritosViewModel
@{
    ViewBag.Title = "ResultadoBusqueda";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}


<div class="container">


    <div class="message-empty @(Model.ResultadoArticulos.Any() ? "hide" : "") ">
        <i class="pe-7s-like"></i>
        <h3>Tus favoritos están vacios</h3>
        <h4>Te invitamos a que pases y conozcas nuestros panes</h4>
        <a href="/Frontend" class="btn btn-primary btn-lg">Ingresa a la tienda</a>
    </div>

    <div class="row @(!Model.ResultadoArticulos.Any() ? "hide" : "") ">
        <div class="col-xs-12">
            <div class="text-center margintop60">
                <h3>Mis Favoritos</h3>
            </div>
        </div>
    </div>

    <div class="row margintop60 @(!Model.ResultadoArticulos.Any() ? "hide" : "")">
        @foreach (var item in Model.ResultadoArticulos)
        {
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="product-item relative">
                    <a href="/Frontend/DetalleArticulo/@item.Id" class="img-box">
                        <img src="@Archivo.ObtenerUrlArchivo(item.Producto.Archivos, TipoEntidadConst.PRODUCTO, "Imagen Principal")" class="img-responsive img-producto-categoria" alt="Foto de Categoría">
                    </a>
                    <div class="footer-product">
                        <a href="/Frontend/DetalleArticulo/@item.Id" class="h5 title-product show">@item.Producto.Nombre</a>
                        <a @(Model.PedidoInicial.VerModalMultiplePuntoEntrega ? "punto-entrega-elegir" : "agregar-articulo")="@item.Id" class="btn btn-primary btn-sm btn-outlined">Añadir</a>
                    </div>
                </div>
            </div>
        }

    </div>
</div>

<hr class="divider-line footer-line">