
@model DanzFloor.Web.Models.ViewModels.UsuarioClienteFrontViewModel

@{
    ViewBag.Title = "Usuario";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}

<div class="container">
    <div class="row margintop40">
        <div class="col-xs-12">
            <h3>@ViewBag.Title</h3>
        </div>
        <div div-form class="col-xs-12 col-sm-6 col-sm-offset-3">
            <div class="margintop20">
                @*@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))*@
                @using (Html.BeginForm())
                {
                    @Html.HiddenFor(m => m.IdUsuarioApplicacion);
                    @Html.HiddenFor(m => m.Id);
                    @Html.HiddenFor(m => m.ClienteId);
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })

                    <div class="form-group label-floating is-fixed">
                        @Html.LabelFor(m => m.Email)
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>

                    <div class="form-group label-floating is-fixed">
                        @Html.LabelFor(m => m.Name)
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    </div>

                    <div class="form-group label-floating is-fixed">
                        @Html.LabelFor(m => m.Lastname)
                        @Html.TextBoxFor(m => m.Lastname, new { @class = "form-control" })
                    </div>

                    <div class="form-group fg-line">
                        <label> Puntos de Entrega</label>
                        <select class="form-control" punto-entrega-select id="PuntosEntregaSelected" multiple="multiple" name="PuntosEntregaSelected" >
                            @foreach (var item in Model.ListaPuntosEntrega)
                            {
                                if (Model.PuntosEntregaSelected != null && Model.PuntosEntregaSelected.Contains(item.Id))
                                {
                                    <option value="@(item.Id)" selected="selected">@(item.NombreYDireccion) </option>
                                }
                                else
                                {
                                    <option value="@(item.Id)">@(item.NombreYDireccion)</option>
                                }
                            }
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="EsAdministrador" class="ts-label">Es Administrador</label>
                        <input @(Model.EsAdministrador ? "checked='checked'" : "") data-val="true" data-val-required="The Es administrador field is required." id="EsAdministrador" name="EsAdministrador" type="checkbox" value="true" >
                        <br />
                        <label for="EsGerenteSucursal" class="ts-label">Es Gerente Punto de Venta</label>
                        <input @(Model.EsGerenteSucursal ? "checked='checked'" : "") data-val="true" data-val-required="The Es gerente de sucursal field is required." id="EsGerenteSucursal" name="EsGerenteSucursal" type="checkbox" value="true" >
                    </div>
                    
                    <button type="submit" class="btn btn-primary btn-sm m-t-10">Guardar</button>
                }

            </div>
        </div>
    </div>
</div>

<hr class="divider-line footer-line" />

<script src="~/Scripts/CallerService.js"></script>

<script>
    $('[div-form]').find('form').addClass('form-material');
</script>