
@{
    Layout = null;
}

To: @ViewBag.To
From: do-not-reply@sapore-di-pane.com.ar
Subject: Usuario Sapore Di Pane



<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html style="background-color:#FFF;border:0px none;">
<head>
    <!-- This is a simple example template that you can edit to create your own custom templates -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Facebook sharing information tags -->
    <title>Sapore Di Pane</title>
    <link rel="shortcut icon" type="image/png" href="http://pos-sdp.binit.cloud/assets/SdP/Frontend/img/id-sapore.png" />
    <style type="text/css">
        /* NOTE: CSS should be inlined to avoid having it stripped in certain email clients like GMail.
        MailChimp automatically inlines CSS for you or you can use this tool: http://beaker.mailchimp.com/inline-css. */

        /* Client-specific Styles */
        #outlook a {
            padding: 0;
        }
        /* Force Outlook to provide a "view in browser" button. */
        body {
            width: 100% !important;
        }
        /* Force Hotmail to display emails at full width */
        body {
            -webkit-text-size-adjust: none;
        }
        /* Prevent Webkit platforms from changing default text sizes. */

        /* Reset Styles */
        body {
            margin: 0;
            padding: 0;
        }

        img {
            border: none;
            font-size: 14px;
            font-weight: bold;
            height: auto;
            line-height: 100%;
            outline: none;
            text-decoration: none;
            text-transform: capitalize;
        }

        #backgroundTable {
            height: 100% !important;
            margin: 0;
            padding: 0;
            width: 100% !important;
        }
    </style>
</head>





<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="background-color:#FFF;border:0px none;">
    <table class="" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="padding:30px 0 10px;margin:0px 0 0; background-color: #ffffff;">
        <tbody>
            <tr>
                <td align="center" valign="top">
                    <table id="" border="0" cellpadding="0" cellspacing="0" width="560" style="background-color: #fff">
                        <tr>
                            <td>
                                <table id="" border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color: #fff;">
                                    <tbody>
                                        <tr>
                                            <td width="110" align="left" valign="bottom">
                                                <div style="padding: 15px 0;">
                                                    <a href="http://www.sapore-di-pane.com.ar/" target="_blank"><img src="http://pos-sdp.binit.cloud/assets/SdP/Frontend/img/id-sapore.png" width="110" border="0" /></a>
                                                </div>
                                            </td>
                                            <td align="right" valign="bottom">
                                                <div>
                                                    <p style="font-size: 18px; font-weight: 500;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif;">Usuario Generado</p>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div style="border-bottom:1px solid #ddd;"></div>
                            </td>
                        </tr>
                       
                        <tr>
                            <td style="color:#505050;font-size:15px;line-height:135%;text-align:left; padding: 30px 0;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif;">
                                <div>
                                    Hola @ViewBag.Nombre,
                                    <br /><br />
                                    Hemos detectado un error en el botón de "INGRESAR", el cual, ya se encuentra solucionado.
                                    <br />
                                    Te enviamos nuevamente tu información para que puedas acceder a la tienda.
                                    <br />
                                    Te pedimos disculpas por las molestias ocacionadas.
                                    <br /><br />
                                    Ya puedes acceder a la tienda online de Sapore di Pane.
                                    <br /><br />
                                    Tu usuario: @ViewBag.To
                                    <br />
                                    Tu Contraseña: @ViewBag.Password
                                    <br />
                                    * Esta contraseña solo será utilizada para el primer acceso, luego podrás modificarla.                                    
                                    <br />
                                    <br />
                                    Puedes descargar el manual de usuario haciendo <a href="https://tienda.sapore-di-pane.com.ar/Archivo/ObtenerArchivo/eacb778b-1990-f5de-82c1-39e2b8c39f3d"> click aquí </a>   
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td valign="center" align="center" width="50%">
                                <table cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td align="center" width="162" height="44" bgcolor="#c1a17d" style="-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; color: #ffffff; display: block;">
                                            <a href="@ViewBag.Link" style="line-height: 43px; text-decoration: none; color: #fff;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif;font-size: 15px;font-weight: 600;">INGRESAR</a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td style="border-bottom:1px solid #ddd; padding: 15px;"></td>
                        </tr>

                        <tr>
                            <td style="text-align: center; padding: 30px 0;">
                                <img src="http://tienda.sapore-di-pane.com.ar/assets/SdP/Frontend/img/id-sdp.png" width="35%" border="0" style="max-width: 35%;" />
                                <p style="font-weight: 300;font-size: 10px;color: #b2b2b2;line-height: 1.3;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif;">
                                    <span>© 2017 Sapore Di Pane. Todos los derechos reservados.</span>
                                </p>
                            </td>
                        </tr>

                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- // End Footer \\ -->
</body>
</html>